/* Класс для плавного появления */
.hidden {
    opacity: 0;
    transform: translateY(10px);
}

/* Style for section in guide */
.guide-slide {
    opacity: 0.3; /* Приглушаем неактивные */
    transition: all 0.5s ease;
    padding: 40px;
    margin: 20px 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

/* Active section with side highlights */
.guide-slide.active {
    opacity: 1;
    background: rgb(52 152 219 / 3%);
    border-color: #3498db; /* side highlight TODO: use vars */
    box-shadow: inset 0 0 20px rgb(52 152 219 / 5%);
}

.guide-img {
    display: block;       /* Don not behave like inline element */
    margin: 25px auto;
    max-width: 100%;    /* Stay inside the screen borders */
    height: auto;
    border-radius: 8px; /* round borders */
    box-shadow: 0 4px 10px rgb(0 0 0 / 10%); /* Imitate 3-D effect */
}

#app-container {
    /* Full width for small screens */
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

/* For wider screens (768px or 1024px) use only central part */
@media (min-width: 1024px) {
    #app-container {
        /* Limit the size. 70% of width */
        max-width: 70vw; 
        
        /* Some padding inside, just for better visual effect */
        padding: 0 40px;
    }
}

/* smooth scroll */
html {
    scroll-behavior: smooth;
}
